@use "global" as *;

.pc-nav {
  @include mq(md) {
    height: inherit;
  }
}

.pc-nav__items {
  display: flex;
  // column-gap: calc( 40 / 1440 * 100vw);
  width: 100%;
  @include mq(md) {
    height: inherit;
  }
}

.pc-nav__item {
  position: relative;
  text-align: center;
  font-size: rem(18);
  font-family: $en-font-family;
  text-transform: capitalize;
  color: $white;
  padding: 0  calc( 20 / 1440 * 100vw);
  // margin-left: rem(40);
  // min-width: rem(90);
  // width: 100%;
  white-space: nowrap;
  line-height: 1;
  @include mq(md) {
    height: inherit;
  }
}

.pc-nav__item a {
  @include mq(md) {
    display: inline-block;
    height: inherit;
    padding-top: rem(26);
    padding-bottom: rem(26);
  }
}

.pc-nav__item:first-child {
  margin-left: 0;
}

.pc-nav__item::after {
  position: absolute;
  content:attr(data-ja);
  top:20px;
  left:50%;
  transform:translateX(-50%);
  font-size:10px;
  width: 100%;
  // white-space: nowrap
}

.pc-nav__item span {
  font-size: rem(10);
  // line-height: calc(15 / 10);
  
}